p {
  font-family: 'Courier New', Courier, monospace;
}

.intro {
  background-color: #e8bdb4;
  height: 500px;
}

.textOverPic {
  height: 400px;
  width: 550px;
  background-color: white;
  display: block;
  position: absolute;
  left: 360px;
  top: 50px;
  opacity: 0.5;
}

#introPic {
  height: 500px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.introText {
  position: absolute;
  left: 370px;
  top: 120px;
}

#introText1 {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 20px;
}

#introText2 {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 10px;
}



.sideProject {
  background-color: #f2e0dc;
  height: 625px;
  display: flex;
}

.textBackground1 {
  position: absolute;
  background-color: white;
  opacity: 0.4;
  width: 600px;
  height: 575px;
  top: 525px;
  left: 25px;
}

.right1 {
  position: absolute;
  left: 650px;
}

.projectTitle {
  position: absolute;
  font-family: 'Courier New', Courier, monospace;
  font-size: 28px;
  left: 20px;
  font-weight: bold;
}

.sideProjectExp {
  overflow: scroll;
  left: 30px;
  top: 555px;
  width: 595px;
  height: 545px;
  position: absolute;
  font-family: 'Courier New', Courier, monospace; 
}

.paperPrototype {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.paperProtoImg {
  width: 500px;
  margin-top: 0;
}

.sideProjectLink {
  width: 500px;
}


.groupProject {
  background-color: #e8bdb4;
  height: 625px;
  display: flex;
}

.textBackground2 {
  position: absolute;
  background-color: white;
  opacity: 0.4;
  width: 600px;
  height: 575px;
  top: 1150px;
  left: 25px;
}

.groupTitle {
  position: absolute;
  font-family: 'Courier New', Courier, monospace;
  font-size: 28px;
  left: 20px;
  font-weight: bold;
}

.groupProjectExp {
  overflow: scroll;
  left: 30px;
  top: 1180px;
  width: 595px;
  height: 545px;
  position: absolute;
  font-family: 'Courier New', Courier, monospace; 
}

.right2 {
  position: absolute;
  left: 650px;
}

.groupProjectVideo {
  position: absolute;
  left: 975px;
  height: 600px;
}

.contactMe {
  text-align: center;
  background-color: #f2e0dc;
}